/*  View example button styles here: http://hellohappy.org/css3-buttons/ 
    Then view their code here:  https://github.com/ubuwaits/css3-buttons
    Pick two that you like, and copy the css code from repo to style the two buttons on index.html. */

*{
				margin: 0;
				padding: 0;
	
}

body {			overflow:auto;
				overflow-x:hidden; 
  				border: 0px;
				margin: 0px;
				padding: 0px;
				background-color: rgb(24, 160, 251);
}

nav {           font-family: futura, sans-serif;
                font-size: 1 em;
                color: rgb(255, 255, 255);
                width: 100%;
				float: left;
				margin: 20 20 20 20px;
				padding: 0;
				list-style: none;
                background-color: rgb(24, 160, 251);
                              
}

nav ul {		font-family: futura, sans-serif;
                font-size: 1.3em;
				width: 100%;
  				display: -moz-inline-block;
  				list-style-type: none;
  				margin-top: 30px;
  				padding: 0;
  	 	}

nav ul li	{   display: inline; 
                
}
       
       
nav ul li a { 	text-decoration: none; 
				color: rgb(255, 255, 255);
				display: inline-block;
				padding: 0px 0px 0px 0px;
				width: 16.2%;
				text-align: center;
}

footer {		margin: auto;
				text-align: center;
}
